
BASE_URL=http://localhost:3000

DISCORD_ID=""
GITHUB_ID=Iv1.
GITHUB_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

DATABASE_URL=

NEXTAUTH_URL_INTERNAL=http://10.240.8.16
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=
