@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

@font-face {
  font-family: MetropolisRegular;
  src: url('/fonts/MetropolisRegular.ttf');
}
@font-face {
  font-family: MetropolisBold;
  src: url('/fonts/MetropolisBold.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: ;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 240 5% 64.9%;

    --radius: 0.5rem;
  }

  .dark {
    --foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: ;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 240 3.7% 15.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}

/* They dance, too much */
@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  /* width: 100vw; */
  /* height: 100vh; */
  margin: 0;
  padding: 0;

  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;

  z-index: 0;
  font-family: JetBrains Mono, monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

/* f, f.. f- framer */
circle,
rect,
line {
  stroke-width: 10px;
  stroke-linecap: round;
  fill: transparent;
}

/* Custom css */
.link-underline {
  position: relative;
  display: inline-block;
}

.link-underline::after {
  content: '';

  display: block;
  position: absolute;
  visibility: hidden;
  background: #171923;

  width: 0;
  height: 2px;

  right: 0; /* go to the right */

  transition: all 0.3s ease-in-out;
  background: linear-gradient(transparent, transparent), linear-gradient(to right, #52c3ff, #2185d0);
}

.link-underline:hover::after {
  visibility: visible;

  width: 100%;

  left: 0; /* go to the left */

  background: linear-gradient(transparent, transparent), linear-gradient(to right, #52c3ff, #2185d0);
}

/* They group and ungroup wtf */
.nav-link {
  transition: all 0.6s ease-in-out;
  opacity: 0;
  transform: translateY(-20px);
}

.nav-link.show {
  opacity: 1;
  transform: translateY(0);
}

/* They dance, too much */
.shadow-effect {
  text-shadow: 1px 1px #fff, 2px 2px #fff, 2px 2px #fff;
  color: #1a202c;
}

/* Skill-issues */
