/* HomeHi.css */

.text-hi {
  color: rgba(75, 85, 99, 0.2); /* Using the color equivalent to text-gray-600 */
  background: linear-gradient(to right, #000000, #6d6d6d) no-repeat; /* Contrast with the text color by making it a bit brighter */

  background-size: 0%;
  background-clip: text;
  -webkit-background-clip: text;
  transition: background-size cubic-bezier(0.1, 0.5, 0.5, 1) 0.75s;
}


/* Dark theme version for .text-hi */
.dark .text-hi {
  color: rgba(156, 163, 175, 0.7); /* Using the color equivalent to text-gray-400 */
  background: linear-gradient(to right, #949494, #d5d5d5) no-repeat; /* A range between the text color and a brighter shade to create visible contrast */

  background-size: 0%;
  background-clip: text;
  -webkit-background-clip: text; 
  transition: background-size cubic-bezier(0.1, 0.5, 0.5, 1) 0.75s;
}



/* css for home-hero p */
.text-p {
  background-size: 0%;
  background-clip: text;
  -webkit-background-clip: text;
  transition: background-size cubic-bezier(0.1, 0.5, 0.5, 1) 0.75s;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}


/* Dark theme version for .text-hi */
.dark .text-p {
  background-size: 0%;
  background-clip: text;
  -webkit-background-clip: text; 
  transition: background-size cubic-bezier(0.1, 0.5, 0.5, 1) 0.75s;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}


/* Hover effect for .text-hi */
.span-p {
  clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
  transition: all cubic-bezier(0.1, 0.5, 0.5, 1) 0.4s;
}

.text-p:hover > .span-p {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
