.kbar-animator {
  @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    background-color: var(--command);
    backdrop-filter: blur(8px);
    overflow: hidden;
  }
}

.kbar-animator > div > div::-webkit-scrollbar {
  display: none;
}

.kbar-animator > div > div {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.kbar-search {
  box-sizing: border-box;
  background-color: var(--command);
}

.kbar-positioner {
  padding-top: 14vh;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  box-sizing: border-box;
}

.kbar-shortcut {
  @apply appearance-none bg-transparent relative max-w-lg cursor-cell space-y-2 pb-2 text-center text-xl text-gray-600 text-opacity-20 dark:text-gray-400 transition-all duration-200;
}

.kbar-shortcut:hover {
  @apply bg-gray-200 text-black;
}

.dark .kbar-shortcut kbd:hover {
  @apply bg-slate-900 text-white rounded-lg;
}

.kbar-shortcut kbd:hover {
  @apply bg-slate-600 text-black rounded-lg;
}
