/* They dance, too much, applied to nav*/
@keyframes slide-in {
  0% {
    opacity  : 0;
    transform: translateY(-20px);
  }
  100% {
    opacity  : 1;
    transform: translateY(0);
  }
}

/* Custom css for nav*/
.link-underline {
  position: relative;
  display : inline-block;
}


/* Hover nav for dark ------------------------------------------------- */
.dark .link-underline::after {
  content: '';

  display   : block;
  position  : absolute;
  visibility: hidden;
  background: #171923;

  width : 0;
  height: 2px;

  right: 0;

  transition: all 0.3s ease-in-out;
  background: linear-gradient(transparent, transparent), linear-gradient(to right, #6acdff, #57bfff);  /* Sky blue shades */
}

.dark .link-underline:hover::after {
  visibility: visible;

  width: 100%;

  left: 0;

  background: linear-gradient(transparent, transparent), linear-gradient(to right, #6acdff, #57bfff);  /* Sky blue shades */
}

.link-underline2 {
  position: relative;
  display : inline-block;
}

/* Hover nav for light -------------------------------------------------  */
.link-underline2::after {
  content: '';

  display   : block;
  position  : absolute;
  visibility: hidden;
  background: #171923;

  width : 0;
  height: 2px;

  right: 0;

  transition: all 0.3s ease-in-out;
  background: linear-gradient(transparent, transparent), linear-gradient(to right, #d87787, #861657);  /* New provided colors */
}

.link-underline2:hover::after {
  visibility: visible;

  width: 100%;

  left: 0;

  background: linear-gradient(transparent, transparent), linear-gradient(to right, #d87787, #861657);  /* New provided colors */
}

/* Hover for about page -------------------------------------------------  */
.link-underline3 {
  position: relative;
  display : inline-block;
}

.dark .link-underline3::after {
  content: '';

  display   : block;
  position  : absolute;
  visibility: hidden;
  background: #171923;

  width : 0;
  height: 2px;

  right: 0;

  transition: all 0.3s ease-in-out;
  background: linear-gradient(transparent, transparent), linear-gradient(to right, #F6C177, #F6C177);  /* New provided colors */
}

.dark .link-underline3:hover::after {
  visibility: visible;

  width: 100%;

  left: 0;

  background: linear-gradient(transparent, transparent), linear-gradient(to right, #F6C177, #F6C177);  /* New provided colors */
}

/* Custom css for nav */
.link-underline4 {
  position: relative;
  display: inline-block;
}


/* Hover purple for new theme ------------------------------------------------- */
.dark .link-underline4::after {
  content: '';

  display   : block;
  position  : absolute;
  visibility: hidden;
  background: #171923;

  width : 0;
  height: 2px;

  right: 0;

  transition: all 0.3s ease-in-out;
  background: linear-gradient(transparent, transparent), linear-gradient(to right, #6200ea, #b620e0);  /* Bright purple shades */
}

.dark .link-underline4:hover::after {
  visibility: visible;

  width: 100%;

  left: 0;

  background: linear-gradient(transparent, transparent), linear-gradient(to right, #6200ea, #b620e0);  /* Bright purple shades */
}










.nav-link {
  transition: all 1s ease-in-out;
  opacity   : 0;
  transform : translateY(-20px);
}

.nav-link.show {
  opacity  : 1;
  transform: translateY(0);
}

/* They dance, too much */
.shadow-effect {
  text-shadow: 1px 1px #fff, 2px 2px #fff, 2px 2px #fff;
  color      : #1a202c;
}